@keyframes blob {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 30px) scale(0.9);
  }
}

.blob {
  animation: blob 7s infinite;
}

.blob:nth-child(2) {
  animation-delay: 2s;
}

.blob:nth-child(3) {
  animation-delay: 4s;
}
